@import '@xyflow/react/dist/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #151515;
  --foreground: #DCDCDC;
  --primary: #272727;
  --secondary: #4B4B4B;
  --node_br: 12px;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;

}

body>div {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 160%;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  overflow-wrap: break-word;
}

.react-flow__attribution {
  background: none;
  margin: 5px;
}

.recharts-tooltip-cursor {
  fill: var(--primary);
}

@media (max-width: 860px) {
  body {
    &>div {
      flex-direction: column;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
