.square_node {
  width: 260px;
  text-align: center;
  background-color: var(--primary);
  border-radius: var(--node_br);
  padding: 10px;
  border: 2px solid var(--secondary);
}

.circle_node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  aspect-ratio: 1/1;
  text-align: center;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 10px;
  border: 2px solid var(--secondary);
}

.rgb_node {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: var(--primary);
  border: 2px solid var(--secondary);
  padding: 10px;
  border-radius: var(--node_br);
}

.node {
  transition: 0.1s ease-in-out;
}

.node:hover {
  background: var(--secondary) !important;
}

.image_node {
  display: flex;
  flex-direction: column;
  width: 150px;

  & img {
    border-radius: 8px;
  }

  & .text {
    font-weight: 500;
    text-align: center;
    width: 100%;
  }
}

.image_node_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pixel_node {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--secondary);
}

.title {
  width: fit-content;
  text-align: center;

  & h1 {
    font-size: 50px;
    font-weight: 500;
    white-space: nowrap;
  }
}

.subtitle {
  & h2 {
    font-size: 38px;
    color: color-mix(in srgb, var(--foreground) 90%, black 10%);
  }
}

.dots {
  display: flex;
  background: var(--primary);
  border: 2px solid var(--secondary);
  border-radius: 20px;
  width: 100px;
  height: 80px;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 50px;
    color: color-mix(in srgb, var(--secondary) 60%, white 40%);
  }
}
