.nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 10px;
  width: calc(222px + 3vw);
  border-right: 1px solid var(--primary);
}

.links_container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
}

.active {
  background-color: var(--primary);
  border-radius: 9px;
}

.nav_title {
  margin-block: 30px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 900;
}

.menu_button {
  display: none;
  font-size: 20px;
  padding: 1rem;
}

.menu_wrapper {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  transition: 0.1s ease-out;
}

.open_menu_wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  left: -100%;
  top: 50%;
  position: fixed;
  display: none;
  padding: 0 10px;
  width: 80%;
  height: calc(100% - 20px);
  border-radius: 16px;
  margin-left: 10px;
  background: var(--background);
  flex-direction: column;
  pointer-events: all;
  transform: translateY(-50%);

  & .close_button {
    font-size: 30px;
  }

  & .menu_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  transition: 0.1s ease-out;
}

.small_links_container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 100%;
}

@media (max-width: 860px) {
  .nav {
    flex-direction: row;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--primary);
    align-items: center;
    justify-content: space-between;
  }

  .links_container {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .links_container {
    display: none;
  }

  .menu_button {
    display: block;
  }

  .menu {
    display: flex;
  }

  .menu_wrapper {
    display: block;
  }
}
