.main {
    container: main / inline-size;
    margin: 1rem 2rem;
    height: fit-content;
}

.wrapper {
    container-type: inline-size;
    max-width: 1500px;
    width: 100%;
    margin-inline: auto;
}

.header {
    position: relative;
}

.title {
    max-width: 800px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 3em;
    margin: .5rem auto 2rem auto;
}

.back_link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--foreground2);
    gap: 1.2rem;
    top: 50%;
    left: 1rem;
    font-size: 1.5em;
    transform: translateY(-50%);
}

.lrp_header {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.charts_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 3rem;
}

.chart_container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.lrp_label {
    font-size: 2rem;
    color: var(--foreground2);
}

.lrp_text {
    font-size: 2rem;
    text-align: center;
}

.display_container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    background: var(--primary);
    padding: 1rem;
    border-radius: 16px;
}

.asset_image {
    position: relative;
    container-type: inline-size;
    width: 100%;
    aspect-ratio: 1/1;
}

.asset_image img {
    object-fit: cover;
}

.iteration_label {
    color: var(--foreground2);
}

.iteration_value {
    color: var(--foreground2);
}

.iteration_slider [data-slot='track'] {
    cursor: pointer;
    background: var(--content1);
}

.slider_step {
    background: var(--secondary);
}

.speed_slider [data-slot='track'] {
    cursor: pointer;
}

.tooltip_wrapper {
    background-color: var(--primary) !important;
}

.controls_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
}

.controls_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.controls_row>* {
    flex-basis: 33%;
}

.slow_control {
    color: var(--foreground2);
}

.fast_control {
    color: var(--foreground2);
}

.control_button {
    font-size: 2rem;
    margin-inline: auto;
    cursor: pointer;
    color: var(--foreground2);
    transform: scale(1);
    transition: 0.1s ease-in-out;
}

.control_button:hover {
    transform: scale(1.1);
    color: color-mix(in srgb, white, black 40%);
}

.control_button:active {
    color: color-mix(in srgb, white, black 50%);
    transform: scale(0.9)
}

.labels_container {
    display: flex;
    width: 100cqw;
    padding: 1rem;

    &>* {
        font-size: 2cqw;
        flex-basis: 25%;
        text-align: center;
    }
}

@container main (max-width: 1130px) {
    .back_link {
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(0);
        justify-content: flex-start;
    }

    .chart_container {
        flex-direction: column;
    }
}

@container main (max-width: 800px) {
    .title {
        font-size: 5cqw;
    }

    .lrp_text {
        font-size: 5cqw;
    }

    .lrp_header {
        flex-direction: column;
    }

    .display_container {
        padding: 0.5rem;
    }
}
