.link {
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    background: var(--primary);
    align-items: center;
    width: 15rem;
    min-height: 14rem;
    flex-shrink: 0;
    overflow: hidden;
}

.display_image_container {
    position: relative;
    container: display_container / inline-size;
    width: 100%;
    height: 12rem;
    flex-shrink: 0;
}

.display_image {
    object-fit: cover;
}

.text_container {
    padding: 10px 20px;
}

.selected {
    border: 5px solid color-mix(in srgb, var(--secondary), white 30%);
}
